@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


*{
    font-family: 'Montserrat', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --main-color: #7d2ae8; 
    --white: #ffff;
    --red: red;
    
}

body{
    background: var(--main-color);
    padding-left: 10px;
    padding-right: 10px;
    font-size: 16px;
    margin-left: 50px;
    margin-right: 50px;
    color: black;
}

.container{
    
    height: 100vh;

}

.nav{

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 20rem;
}
.header{
    display: flex;
    flex-wrap: wrap;
    padding-top: 30px;
    justify-content: space-between;
    display: flex;
    gap: 4rem;
}



.logo img{
    width: 100px;
    height: 100px;
    margin-right: 30px;
}

.texttitle{
    display: flex;
}

.texttitle:hover{
    transition: all .4s ease;
    color: var(--red);
    cursor: pointer;
}

.aa{
    display: flex;
    cursor: pointer;
    color: var(--red);
    text-decoration: none;
    list-style: none;
    font-size: medium;
}

.grid{
    margin-top: 30px;
    margin-left: 50px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.card{

    padding: 20px;
    margin-top: 20px;   
    border-radius: 10px;
    background-color: aliceblue;
    width: 250px;
    height: 250px;
    box-shadow:
    0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048),
    0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072),
    0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12)

}




