@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


*{
    font-family: 'Montserrat', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    color: black;
  
}

:root{
    --main-color: #0C1633; 
    --white: rgb(255, 255, 255);
    --red: red;
    --judiciary: #D7C185;
    --black: rgb(0, 0, 0);
    
}

body{
    background: var(--main-color);
    padding-left: 10px;
    padding-right: 10px;
    font-size: 16px;
    margin-left: 50px;
    margin-right: 50px;
    color: black;
}

.container{
    
    height: 100vh;
    padding-bottom: 10px;

}

.logo{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.logo h3{
    font-size: 32px;
    color: var(--white);
}

.logo img{
    display: flex;
    flex-wrap: wrap;
    width: 100px;
    height: 100px;
    margin-right: 30px;

    
}








.title-card{
    font-size: 25px;
    font-weight: bold;
}
.link{
    color: black;
    text-decoration: none;
}






.aa{
    flex-wrap: wrap;
    display: flex;
    cursor: pointer;
    color: var(--red);
    text-decoration: none;
    font-weight: bold;
    list-style: none;
    font-size: medium;
}

.grid{
    margin-top: 30px;
    margin-left: 50px;
    margin-bottom: 30px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.card{

    padding: 20px;
    margin-top: 20px;   
    border-radius: 10px;
    background-color: aliceblue;
    width: 250px;
    height: 250px;
    box-shadow:
    0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048),
    0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072),
    0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);

}

.title-card{
    text-align: center;
}
.val{
    justify-content: center;
    text-align: center;
    padding-top: 70px;
}


.kobopoint img{
    text-align: center;
    align-items: center;
    height: 150px;
    width: 200px;
}

/* css for users */

.card-center{
    display: flex;
    align-items: center;
    justify-content: center;
}



@media (max-width: 959px){
    .aa{
        display: none;
    }
    body{
        margin-left: 0;
        margin-right: 0;
    }


}
/*  */