@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


*{
    font-family: 'Montserrat', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --main-color: #7d2ae8; 
    --white: #ffff;
    --red: red;
    --judiciary: #D7C185;
    
}

body{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: 100% 100%;
    background-color: var(--main-color);
    background-position: center;
    background-image: url('https://guardian.ng/wp-content/uploads/2017/12/link.jpg');
    padding: 30px;
    object-fit: cover;
    font-size: 16px;
}

.top{
    color: var(--white);
    position: absolute;
    top: 0;
    width: 100%;
    display: flex;
    margin-bottom: 30px;
    margin-top: 45px;
    padding-left: 10px;
    padding-right: 10px;

}


.container{
    position: relative;
    max-width: 850px;
    width: 100%;
    background: var(--white);
    padding-top: 20px;
    padding-right: 20px;
    padding-left: 20px;
    padding-bottom: 20px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    perspective: 2700px;
}

.container #flip:checked~ .cover{
    transform: rotateY(-180deg);
    
}

.cover{
    position: absolute;
    height: 100%;
    width: 50%;
    top: 0;
    left: 50%;
    /* background: var(--main-color); */
    /* background: red; */
    z-index: 100;
    transition: all 1s ease;
    transform-style: preserve-3d;
    transform-origin: left;
    


}

img{
    height: 100%;
    width: 100%;
    position: absolute;
    object-fit: cover;
    z-index: 12;
 

    
}


.cover .back .backimg{
    transform: rotateY(180deg);
    height: 100%;
    width: 100%;
    position: absolute;
    object-fit: cover;
    z-index: 12;
   

    backface-visibility: hidden;

}

.sign{
    font-size: 16px;
    
}






.cover::before{
    height: 100%;
    width: 100%;
    position: absolute;
    content: '';
    background: var(--main-color);
    opacity: 0.5;
    /* z-index: 100; */
  
    
}



.container .form{
    height: 100%;
    width: 100%;
    background: var(--white);
}

.container .form-content{
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.form-content .login-form,
.form-content .signup-form{
    width: calc(100% /2 - 25px);
    /* background: red; */
}

.title{
    position: relative;
    font-size: 24px;
    font-weight: 500;
    color: #333;
}


.title{
    position: relative;
    font-size: 24px;
    font-weight: 500;
    color: #333;
}
.title:before{
    content: '';
    position: absolute;
    height: 3px;
    width: 25px;
    background: var(--main-color);
    left: 0;
    bottom: 0;
}

.input-boxes{
    margin-top: 30px;
}

.input-box{
    height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    margin: 10px 0;
    position: relative;
}

.input-box input{
    height: 100%;
    width: 100%;
    outline: none;
    border: none;
    padding: 0 30px;
    font-size: 16px;
    font-weight: 500;
    border-bottom: 2px solid rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
}

.focus-box .input:valid,  
.input-box input:focus{
    border-color: var(--main-color);
}

i{
    position: absolute;
    color: var(--main-color);
    font-size: 17px;
}
.button input{
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 15px;
    height: 100%;
    width: 100%;
    color: var(--white);
    background: var(--main-color);
    border: none;
    cursor: pointer;
    border-radius: 6px;
    transition: all 0.4s ease;
}

.button input:hover{
    background-color: red;
}


.text{
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
}

.text:hover{
    font-weight: bold;
    cursor: pointer;
    color: green;   
}

span{
    color: var(--main-color);
    cursor: pointer;
}



span:hover{
    text-decoration: underline;
    color: red;
    cursor: pointer;

}

.container #flip{
    display: none;

}


.message{
    color: var(--red);
    font-weight: bold;
    font-size: 12px;
}

/* starting dashboard css here */



.header{
    display: flex;
    justify-content: space-evenly;
   

}


.dashlogo{
    height: 100px;
    width: 100px;
}
/* 
end dashboard css here */

@media (max-width: 730px){
    .cover{
        display: none;
    }
    .form-content .login-form,
    .form-content .signup-form{
     width: 100%;
    /* background: red; */
    }



    .signup-form{
        display: none;
    }

    .container #flip:checked ~ form .signup-form{
        display: block;
    }
    .container #flip:checked ~ form .login-form{
        display: none;
    }

    .button input{
        font-weight: bold;
        margin-top: 10px;
        margin-bottom: 10px;
        font-size: 25px;
        padding: 15px;
        height: 100%;
        width: 100%;
        color: var(--white);
        background: var(--main-color);
        border: none;
        cursor: pointer;
        border-radius: 6px;
        transition: all 0.4s ease;
    }




     
}


