{% load static %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>

    <!-- start css -->
    <link rel="stylesheet" href="{% static 'static\dash.css' %}">

    <!-- end css -->
</head>
<body>
    
    <h1>{{deploy.deployment__submission_count}}</h1>
    <a href="{{submission.name}}"></a>
    <h1>{{deploy.name}}</h1>
    <h1>{{deploy.version_id}}</h1>
    <h1>{{deploy.deployment__active}}</h1>
    {% for api in deploy %}
    <h1>{{api.deployment__active}}</h1>
    <h1>{{api.name}}</h1>


    {% endfor %}
    {{deploy}}
    {{csv.data_url_csv}}
    {{csv.data_url_xlsx}}
    {{deploy}}

    
    <h1>hello</h1>
    <div class="container">
        <div class="header">
            <div class="logo">
             <a href="#"><img src="static\images\logo.png" alt="images"></a>
            </div>
            <div class="nav">
                <div class="texttitle">
                    <h3>COURT RETURNS ADMIN DASHBOARD</h3>
                </div>
                <div class="logout">
                    <a class="aa" href="{% url 'home' %}">Logout</a>
                </div>
            </div>
        </div>

        <div class="grid">
            <div class="card">
               <a class="link" href="https://ee.humanitarianresponse.info/x/5hZsEpwl">
                <div class="wrapper">
                    <div class="title-card">
                        <h3 class="title-card">Fill Form</h3>
                        <div class="kobopoint">
                            <img src="static\images\da.jpeg" alt="">
        
                        </div>
                    </div>
                </div>
               </a>
            </div>
        
            <div class="card">
                <div class="wrapper">
                    <div class="title-card">
                        <h3 class="title-card">Total Submissions</h3>
                        <div class="kobopoint">
                        
                            <h3 class="val">{{submission.deployment__submission_count}}</h3>
                      
        
                        </div>
                    </div>
                </div>
            </div>
        
            <div class="card">
                <div class="wrapper">
                    <div class="title-card">
                        <h3 class="title-card">Send Notifications</h3>
                        <div class="kobopoint">
                            <h3 class="val">50</h3>
        
                        </div>
                    </div>
                </div>
            </div>


            <div class="card">
                <div class="wrapper">
                    <div class="title-card">
                        <h3 class="title-card">View Map</h3>
                        <div class="kobopoint">
                            <h3 class="val">50</h3>
        
                        </div>
                    </div>
                </div>
            </div>


            <a href="{{csv.data_url_csv}}">
                <div class="card">
                    <div class="wrapper">
                        <div class="title-card">
                            <h3 class="title-card">Download CSV Data</h3>
                            <div class="kobopoint">
                                <h3 class="val"></h3>
            
                            </div>
                        </div>
                    </div>
                </div>
            </a>

            <a href="{{csv.data_url_xlsx}}">
                <div class="card">
                    <div class="wrapper">
                        <div class="title-card">
                            <h3 class="title-card">Download Excel Data</h3>
                            <div class="kobopoint">
                                <h3 class="val"></h3>
            
                            </div>
                        </div>
                    </div>
                </div>
            </a>



        </div>
      
       
    </div>
    
</body>
</html>