{% load static %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>

    <!-- start css -->
    <link rel="stylesheet" href="{% static 'static\dash.css' %}">

    <!-- end css -->
</head>
<body>
    <div class="container">
        <div class="header">
            <div class="logo">
             <a href="#"><img src="static\images\logo.png" alt="images"></a>
            </div>
            <div class="nav">
                <div class="texttitle">
                    <h3>COURT RETURNS ADMIN DASHBOARD</h3>
                </div>
                <div class="logout">
                    <a class="aa" href="{% url 'home' %}">Logout</a>
                </div>
            </div>
        </div>

        <div class="grid">
            <div class="card">
                <div class="wrapper">
                    <div class="title-card">
                        <h3 class="title-card">Total Submissions</h3>
                        <div class="kobopoint">
                            <h3 class="val">50</h3>
        
                        </div>
                    </div>
                </div>
            </div>
        
            <div class="card">
                <div class="wrapper">
                    <div class="title-card">
                        <h3 class="title-card">Total Submissions</h3>
                        <div class="kobopoint">
                            <h3 class="val">50</h3>
        
                        </div>
                    </div>
                </div>
            </div>
        
            <div class="card">
                <div class="wrapper">
                    <div class="title-card">
                        <h3 class="title-card">Total Submissions</h3>
                        <div class="kobopoint">
                            <h3 class="val">50</h3>
        
                        </div>
                    </div>
                </div>
            </div>


            <div class="card">
                <div class="wrapper">
                    <div class="title-card">
                        <h3 class="title-card">Total Submissions</h3>
                        <div class="kobopoint">
                            <h3 class="val">50</h3>
        
                        </div>
                    </div>
                </div>
            </div>


            <div class="card">
                <div class="wrapper">
                    <div class="title-card">
                        <h3 class="title-card">Total Submissions</h3>
                        <div class="kobopoint">
                            <h3 class="val">50</h3>
        
                        </div>
                    </div>
                </div>
            </div>


            <div class="card">
                <div class="wrapper">
                    <div class="title-card">
                        <h3 class="title-card">Total Submissions</h3>
                        <div class="kobopoint">
                            <h3 class="val">50</h3>
        
                        </div>
                    </div>
                </div>
            </div>



        </div>
      
       
    </div>
    




</body>
</html>