{% load static %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="shortcut icon" type="c-icon" href="static\images\20.png">

    <!-- start css -->
    <link rel="stylesheet" href="{% static 'dash.css' %}">

    <!-- end css -->
</head>
<body>





    {% if request.session.bar == "admin@judiciary.com" %}

    <div class="container">
        <div class="header">
            <div class="logo">
             <a href="#"><img src="static\images\logo.png" alt="images"></a>
             <h3>COURT RETURNS ADMIN DASHBOARD</h3>
             <!-- <h1>{{ request.session.bar }}</h1> -->
             <a class="aa" href="{% url 'home' %}">Logout</a>
            </div>
        </div>

        <div class="grid">
            <div class="card">
               <a class="link" href="https://ee.humanitarianresponse.info/x/5hZsEpwl">
                <div class="wrapper">
                    <div class="title-card">
                        <h3 class="title-card">Fill Form</h3>
                        <div class="kobopoint">
                            <img src="static\images\da.jpeg" alt="fillform">
        
                        </div>
                    </div>
                </div>
               </a>
            </div>
        
            <div class="card">
                <div class="wrapper">
                    <div class="title-card">
                        <h3 class="title-card">Total Submissions</h3>
                        <div class="kobopoint">
                        
                            <h3 class="val">{{deploy.deployment__submission_count}}</h3>
                      
        
                        </div>
                    </div>
                </div>
            </div>
        
            <div class="card">
                <a href="https://docs.google.com/spreadsheets/d/1Q2NPARHpcjp69t9LfvuVCcqjXMLJZoAqxyuniEB6Myc/edit?usp=sharing">
                    <div class="wrapper">
                        <div class="title-card">
                            <h3 class="title-card">Send Notifications</h3>
                            <div class="kobopoint">
                                <img src="static\images\note2.jpg" alt="notification">
            
                            </div>
                        </div>
                    </div>
                </a>
            </div>


            <div class="card">
                <a href="https://kobo.humanitarianresponse.info/#/forms/aT5kWCgcFpLDuBmTsowebo/data/map">
                    <div class="wrapper">
                        <div class="title-card">
                            <h3 class="title-card">View Map</h3>
                            <div class="kobopoint">
                                <img src="static\images\map2.png" alt="map">
                            </div>
                        </div>
                    </div>
                </a>
                
            </div>


            <a href="{{csv.data_url_csv}}">
                <div class="card">
                    <div class="wrapper">
                        <div class="title-card">
                            <h3 class="title-card">Download CSV Data</h3>
                            <div class="kobopoint">
                                <img src="static\images\csv.png" alt="csv">
            
                            </div>
                        </div>
                    </div>
                </div>
            </a>

            <a href="{{csv.data_url_xlsx}}">
                <div class="card">
                    <div class="wrapper">
                        <div class="title-card">
                            <h3 class="title-card">Download Excel Data</h3>
                            <div class="kobopoint">
                                <img src="static\images\excel.png" alt="excel">
            
                            </div>
                        </div>
                    </div>
                </div>
            </a>



        </div>
      
       
    </div>


    {% else %}

    <div class="container">
        <div class="header">
            <div class="logo">
             <a href="#"><img src="static\images\logo.png" alt="images"></a>
             <h3>COURT RETURNS DASHBOARD</h3>
             
             <a class="aa" href="{% url 'home' %}">Logout</a>
            </div>
        </div>
        <!-- <h2>{{ request.session.bar }}</h2> -->

        <div class="grid-center">
            <div class="card-center">
               <a class="link" href="https://ee.humanitarianresponse.info/x/5hZsEpwl">
                <div class="wrapper">
                    <div class="title-card">
                        <h3 class="title-card">Fill Form</h3>
                        <div class="kobopoint">
                            <img src="static\images\da.jpeg" alt="fillform">
        
                        </div>
                    </div>
                </div>
               </a>
            </div>
        

        </div>
      
       
    </div>


    {% endif %}
    
</body>
</html>